{% extends  'news/base.html'%}
{% load static %}
{% block title %}  parolni tiklash {% endblock title %}
{% block content %}
    <h1> Parolni tiklash</h1>
    <p> parolni tiklash uchun e-mailingizni kiriting</p>
    {% if validlink %}
        <p> iltimos, parolni yana bir bor tekshiring</p>
        <form method="post"> {% csrf_token %} {{ form.as_p }}
        <p type="submit">parolni almashtirish</p>
        </form>
    {% else %}
        <p> siz notog'ri linkdan foydalandingiz</p>
    {% endif %}
{% endblock content %}
