{% extends 'news/base.html' %}
{% load static %}
{% block title %} Parolni tiklash {% endblock title %}
{% block content %}
    <div class="password-reset-form">
        <p>Parolni tiklash uchun e-mailingizni kiriting</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <button type="submit" class="btn btn-primary">E-mailingizni jo'nating</button>
        </form>
    </div>
{% endblock content %}
