{% extends 'news/base.html' %}
{% load static %}

{% block title %} Parolni o'zgartirish {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h4 class="card-title">Parolni o'zgartirish</h4>
                    <p class="card-text">Parolni o'zgartirish uchun sizning e-mailingizga link yuborildi.</p>
                    <p class="card-text">Parolni o'zgartirish bo'yicha e-mailingizni tekshirib ko'ring.</p>
                    <a href="#" class="btn btn-primary">Qayta yuborish</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
