{% extends 'news/base.html' %}
{% load static %}

{% block title %}
    Foydalanuvchi parolini o'zgartirish
{% endblock title %}

{% block content %}
    <div class="password-change-form">
        <h1>Parolni o'zgartirish</h1>
        <p>Quyidagi formani to'ldiring, yangi parolingizni kiriting:</p>
        <form method="post"> {% csrf_token %}
            <div class="form-group">
                {{ form.old_password.errors }}
                <label for="id_old_password">Eski parol:</label>
                <input type="password" name="old_password" id="id_old_password" class="form-control" required>
            </div>
            <div class="form-group">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Yangi parol:</label>
                <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
            </div>
            <div class="form-group">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Yangi parolni tasdiqlang:</label>
                <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Parolni almashtirish</button>
        </form>
    </div>
{% endblock content %}
